html{
    font-size-adjust: 100%;
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1em;
    font-family: 'PT Serif', serif;

}
body{
    padding: 0;
    margin: 0;
    font-size: 112.5%;
}
h1{
    font-size: 1em;
}
h6{
    font-size: .9em;
    color: darkgray;
}
a:visited{
    color: rgb(125, 136, 230);
}
sub{
    font-size: medium;
}
sup{
    font-size: small;
}
span{
    font-weight: bolder;
}
i{
    font-size: .9em;
}

/* NAVBAR */

.nav-bar{
    width: 100%;
    height: 8vh;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1em solid black;
    position: sticky;
    top: 0;
    z-index: 99;
}
/* .working::before{
    content: "Sometimes in the bar world, if we run out of a product or it isn't in yet, it's 86'd. Well this is 86'd! Check back soon. In the meantime, please make another selection. Cheers.";
    background: #fff;
    position: absolute;
    top: 10vh;
    width: 50vw;
    border-radius: 20px;
    padding: 1.5em;
    box-shadow: inset 0 0 5px 5px indigo, inset 0 0 10px 10px rgb(70, 90, 201), inset 0 0 20px 20px rgba(0, 0, 0, 0.884);
    visibility: visible;
} */
/* .working:hover .working::before{
    visibility: visible;
} */
/* .nav-bar::after{
    content: "close";
    position: absolute;
    top: 2vh;
    left: 47%;
    color: red;
    width: 100%;
    height: 100%;
    visibility: hidden;
} */
.nav-bar > .mobile-menu-button > ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-bar > .mobile-menu-button > ul > li:hover{
    background: #aaa;
    color: #000;
}
/* .nav-bar > ul > li:hover .nav-bar > ul > li > a{
    color: #000;
} */
.nav-bar > .mobile-menu-button > ul > li > a{
    text-decoration: none;
    margin: 0 15px 0 15px;
    color: #fff;
    font-size: .7em;
}

.subscribe{
    position: sticky;
    top: 0;
    /* margin-right: 50vw; */
    font-weight: bolder;
    padding-left: .5em;
    border: .5px solid #ccc;
    z-index: 100;
    width: 6.5em;
    background: #333;
}
.subscribe > a{
    color: #eee;
    text-decoration: none;
}

/* HERO */

.hero-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-bg-bg{
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100%; */
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    width: 100%;
}
.hero-bg{
    background: url('../img/left-wall.jpg') no-repeat center;
    /* height: 50vh;
    width: 50.7%; */
    grid-column: 4/10;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    padding: 0 15px 0 15px;
    border-left: 5px solid #444;
    border-right: 5px solid #444;
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */

}
.overlay > h1{
    color: #fff;
    backdrop-filter: blur(5px);
    font-size: 1.9em;
    z-index: 98;
    display: none;
    
}
/* WHISKEY WALL  */
.wall-left{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    font-size: .4em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )


}
.wall-leftA{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100%;
    grid-column: 4/7;
    font-size: .4em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )
}
.wall-rightA{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100%;
    grid-column: 7/10;
    font-size: .4em;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )
}
.wall-right{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    height: 100%;
    grid-column: 10/13;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )

}
.grid-item-left{
    border: 4px solid rgb(54, 46, 46);
    box-shadow: inset 20px 20px 10px 4px black,
    inset 20px -20px 15px 12px rgba(200, 200, 238, 0.61);
}
.grid-item-leftA{
    border: 4px solid rgb(54, 46, 46);
    box-shadow: inset 5px 20px 10px 4px black,
    inset 20px -20px 15px 12px rgba(200, 200, 238, 0.61);
}
.grid-item-rightA{
    border: 4px solid rgb(54, 46, 46);
    box-shadow: inset -5px 15px 10px 4px black,
    inset -20px -20px 15px 12px rgba(200, 200, 238, 0.61);
}
.grid-item-right{
    border: 4px solid rgb(54, 46, 46);
    box-shadow: inset -20px 20px 10px 4px black, 
    inset -20px -20px 15px 12px rgba(200, 200, 238, 0.61);
}
.grid-item-left:hover,
.grid-item-leftA:hover,
.grid-item-right:hover,
.grid-item-rightA:hover{
    background: #fff;
}
.link-preview{
    display: none;
}
.item1{
    grid-area: 1 / 1 / 2 / 3;
}
.item2{
    grid-area: 1 / 3 / span 2 / 4;
}
.item3{
    grid-area: 1 / 4 / span 3 / 8;
       
}
.wall{
    display: flex;
    align-items: flex-end;
}
.wall > p{
    font-size: 8em;
    text-shadow: 0 5px 5px #fff, 0 -15px 10px #000;
    height: 70%;
    width: 100%;
}
.of{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.of > p{
    
    font-size: 6em;
    text-shadow: 0 5px 5px #fff, 0 -15px 10px #000;
    height: 70%;
    width: 50%;
}
.whiskey{
    display: flex;
    align-items: flex-end;
}
.whiskey > p{
    font-size: 4.8em;
    text-shadow: 0 5px 5px #fff, 0 -15px 10px #000;
    height: 40%;
}
.item4{
    grid-area: 2/1/span 3/span 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )
}
.item5{
    grid-area: 3/3/span 2/ span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.item6{
    grid-area: 4/4/span 1/ span 4;
}
.item7{
    grid-area: 5/1/span 2/span 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )

}
.item8{
    grid-area: 5/2/span 2/span 1;
}
.item9{
    grid-area: 5/ 3/ span 2/ span 1;
}
.item10{
    grid-area: 5/4/span 2/ span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.item11{
    grid-area: 5/6/span 2/ span 2;
}
.item12{
    grid-area:  7/1/ span 1/ span 2;
}
.item13{
    grid-area: 7/3/ span 3/ span 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )

}
.item14{
    grid-area: 7/5/ span 3/ span 2;
}
.item15{
    grid-area: 7/7/ span 2/ span 1;
}
.item16{
    grid-area: 8/1/span 1/ span 2;
}
.item17{
    grid-area: 9/1/ span 1/span 2;
}
.item18{
    grid-area: 10/1/ span 4/ span 2;
}
.item19{
    grid-area: 10/3/ span 2/ span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}


.item5 > a > img,
.item10 > a > img,
.item19 > a > img{
    width: 1.5em;
    height: 100%;
    
}
.item5 > a > img:hover,
.item10 > a > img:hover,
.item19 > a > img:hover{
    cursor: pointer;
    transform: scale(5);
    transform-origin: center;

}
.item20{
    grid-area: 10/4/ span 2/ span 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.205) 0 50%, rgba(119, 41, 155, 0.438), rgba(103, 15, 219, 0.425) )

}
.item21{
    grid-area: 10/ 5/ span 2/ span 2;
}
.item22{
    grid-area: 9/7 / span 2/ span 1;
}
.item23{
    grid-area: 12/3/ span 1/ span 4;
}
.item24{
    grid-area: 11/7 /span 2 / span 1;
}

/* Wall Nav Items  */
.about-menu,
.cock-menu,
.rev-menu,
.blog-menu,
.subscribe-menu,
.ing-menu,
.tech-menu,
.tools-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
    background: #000;
    position: relative;
    align-items: center;
}
.rev-menu a{
    color: #000;
    font-size: 2.2em;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
    height: 0%;
    /* justify-self: flex-end; */
    
}
.rev-menu > p{
    /* position: absolute;
    top: 5vh;
    left: .5vw; */
    font-size: 2em;
    color: transparent;
    text-shadow: 3px -9px 2px #000;
    visibility: hidden;
}

.tools-menu a{
    font-size: 1.8em;
    color: #000;
    height: 55%;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
}


.tech-menu a{
    font-size: 1.6em;
    color: #000;
    height: 48%;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
}
.subscribe-menu a{
    font-size: 2em;
    color: #000;
    height: 20%;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
}
.about-menu a,
.cock-menu a{
    font-size: 1.6em;
    color: #000;
    height: 25%;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
}
.ing-menu a{
    font-size: 1.6em;
    color: #000;
    height: 45%;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
}
.blog-menu a{
    font-size: 3.1em;
    color: #000;
    height: 28%;
    text-shadow: 1px .2px 0 #000, 0 .5px 0 #000;
}
.about-menu,
.subscribe-menu,
.cock-menu,
.blog-menu,
.rev-menu:hover,
.tech-menu:hover,
.ing-menu:hover,
.tools-menu:hover{
    
    cursor: pointer;
}
.rev-menu:hover > p{
    visibility: visible;
}
.about-menu:hover a,
.rev-menu:hover a,
.subscribe-menu:hover a,
.cock-menu:hover a,
.blog-menu:hover a,
.ing-menu:hover a,
.tech-menu:hover a,
.tools-menu:hover a{
    color: #fff;
    text-shadow: 0px -5px 2px #000;
    transform: scale(1.5);
    z-index: 110;
}
/* .rev-menu:hover a{
    color: #fff;
    text-shadow: 7px -25px 2px #000;
}
.rev-menu a:hover{
    color: #000;
} */


/* Main Title  */

.main-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 1em 0;
}
.main-title > h1{
    font-size: 1.75em;
    font-weight: 700;
    font-family: PT Serif, serif;
    word-wrap: break-word;
    line-height: 1.2;
    margin: 0 0 1em;
    padding: 1em 0 0;
}
.main-title p a{
    text-decoration: none;
    color: #333;
    font-size: .8em;
    
}
.bottle-desc{
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
}
.price{
    grid-column: 2/3;
}
.distiller{
    grid-row: 2/3;
    grid-column: 2/3;
}
.abv{
    grid-row: 3/4;
    grid-column: 2/3;
}
.available{
    grid-row: 4/5;
    grid-column: 2/3;
}
/* section A  */

.grid-container{
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-template-rows: auto;
}
.left-side{
    border-right: 1px dashed lightgray;
    /* margin-right: .5em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.left-side > img{
    width: 65%;
    border-radius: 55%;
    
}
.left-side > p{
    border-bottom: 1px dashed lightgray;
    text-align: center;

}
.right-side > p{
    border-bottom: 1px dashed lightgray;

}
.right-side ul,
.left-side ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.right-side ul li,
.left-side ul li{
    font-size: .6em;
    list-style: none;
    margin: 1em 0 1em 0;
    border-bottom: 1px dashed lightgray;
}
.right-side ul li a,
.left-side ul li a{
    color: #000;
    text-decoration: none;
}
.right-side ul li a:hover,
.left-side ul li a:hover{
    color: #fff;
    background: #333;
    
}
.right-side{
    border-left: 1px dashed lightgray;
    text-align: center;
}
.right-side > img{
    width: 65%;
    border-radius: 55%;
}
.welcome > p{
    font-family: 'Roboto', serif;
    padding: 1em 30px 1em 30px;
    line-height: 1.5em;
    text-align: left;
    font-size: .8em;
}
.bar-choice > p,
.latest-post > p,
.older-posts > p,
.main-area > p{
    font-family: 'Roboto', serif;
    padding: 1em .5em 1em .5em;
    line-height: 1.5;
    
    font-size: .7em;
}

.welcome > h2,
.latest-post > h2,
.older-posts > h2,
.main-area > h2{
    padding: 30px;
    text-align: center;
    margin-bottom: 1em;
}
.welcome > img,
.latest-post > img,
.older-posts > img,
.main-area > img{
    width: 30%;
    float: left;
    margin-right: .5em;
    box-shadow: 0 2px 15px 5px black;
}

.card > date, author, comment,
.welcome > date, author, comment,
.latest-post > date,author, comment,
.older-posts > date,author, comment,
.main-area > date,author, comment{
    font-size: .7em;
}

.older-posts,
.latest-post,
.welcome,
.bar-choice{
    margin: 1em 0 1em 0;
    padding: 0 1.5em;
    border-top: 1px dashed lightgray;
}
.bar-choice > h6{
    text-align: center;
}
.bar-choice > ul > li > a{
    text-align: center;
    font-size: .7em;
}
.bar-choice > ul > li > p{
    font-size: .7em;
}
.bar-choice comment{
    padding: 1em;
}
.latest-post p a img{
    max-width: 400px;
    width: 100%;

    
}
       
.section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1vw;
}
.section-grid p{
    font-family: PT Serif, serif;
    font-weight: 300;
    font-size: 1.5em;
    word-wrap: break-word;
    margin: 0 0 1.5625em;


}
.section-grid > a{
    text-decoration: none;
    color: #000;
}
.card-content{
    grid-column: 1/4;
    font-size: .6em;
}
.card-content h3{
    font-size: 1.5em;
}
.card-content p{
    font-family: 'Roboto', serif;
    padding: 1em 1.5em 1em 1.5em;
    line-height: 1.7em;
    color: #222;
    
    
}
.card-content p a{
    color: #000;
}
.card-content > img{
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    /* height: 100%; */
    
}
        
.card a{
    text-decoration: none;
    color: #000;
    
}

.card  h3{
    text-align: center;
    font-size: .8em;
    transition: opacity 1s;

    /* background: #eee; */
}
.card > img{
    /* position: relative; */
    width: 100%;
    transition: transform 1s;
    /* transform: rotateZ(90deg); */
    /* object-fit: cover; */
}
.section-grid > a:hover img{
    transition: transform 6s;
    transform: scale(.2);
    opacity: .5;
}
.section-grid > a:hover h3{
    opacity: .1;
    transition: opacity 4s;
    
}
.card comment > a{
    font-size: 1em;
}
#me-excited{
    /* float: right; */
    width: 30%;
    
    border-radius: 50%;
    
    box-shadow: 0 20px 25px 3px rgba(0, 0, 0, 0.616);
}
/* #personal{
    margin-top: 5.5em;
} */
.try{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.try > p{
    text-shadow: 0px 14px 8px black;
    word-spacing: 35px;
    /* background: linear-gradient(120deg, white, rgb(28, 136, 185), white, rgb(16, 173, 221), white); */
}
.try-all{
    font-size: 1.6em;
}
.drop{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5em;
    /* padding: 1.5em; */
}
.drop p{
    font-family: 'Roboto';
    font-size: .7em;
    padding: 0 1em 0 1em;
    
}
.drop h2{
    margin:1em 0 1em 0;
}
    
.buy-mobile{
    display: none;
    
}

.buy-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buy-desktop p,
.buy-desktop a{
    font-size: .8em;
    text-align: center;
}

/* footer  */
footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax( 1em, auto);
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background: #333;
    position: sticky;
    /* height: 10vh; */
    border-top: 1em solid black;
}
#creator{
    grid-column: 1/3;
    justify-self: center;
    /* width: 100%; */
}
footer h6{
    justify-self: center;
    color: #aaa;
    font-size: .8em;
    /* text-align: center; */
}
footer h6 > a{
    text-decoration: none;
    color: rgb(125, 136, 230);
}
footer h6 > a:hover{
    cursor: pointer;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .5em;
    width: 100%;
}
form{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
input[name="name"],
input[name="email"],
textarea[name="message"]{
    border-radius: 15px;
    margin: .5em;
}
.msg{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    grid-column: 1/span 2;
    justify-self: left;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content ul li{
    font-size: .7em;
    list-style: none;
    padding: 5px 15px 5px 15px;
}
.content > p{
    font-family: 'Cinzel';
    font-size: 1.5em;
    text-align: center;
}
.cocktail-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#cocktail-info-1,
#cocktail-info-2{
    grid-column: 1/5;
    padding: 0 1em 0 1em;
}
.card-wrap a{
    text-decoration: none;
    color: #000;
    text-align: center;
}
.card-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.card-wrap a p{
    padding: 30px;
}
.card-wrap p:hover{
    text-decoration: underline;

}
.bar-tools-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bar-tools-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
.bar-tools-card p{
    font-size: .8em;
    font-family: 'Roboto';
    padding: 0 1em 0 1em;
}
.bar-tools-card a img{
    width: 100%;
}
.relative{
    position: relative;
}
/* MODALS  */
.modal-Info{
    background: #eef;
    color: #000;
    opacity: .9;
    width: 100%;
    height: 185%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #efe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    z-index: 97;
}

#last-tool{
    transform: translateY(-25%);
}
.info-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    

}
.info-wrap:hover .modal-Info{
    visibility: visible;
}
.info-wrap:hover .modal-Info:hover{
    visibility: visible;
}
.bar-tools-card > a:hover .modal-Info{
    visibility: visible;
}


.recipe-grid{
    display: grid;
    margin-top: 1.4em;
    gap: .5em;
    grid-template-columns: 1fr 5fr 5fr 1fr;
}
#first-ul{
    grid-column: 2/3;
}
#second-ul h6,
#first-ul h6{
    text-align: left;
}
#second-ul{
    grid-column: 3/4;
}
.recipe-grid ol li{
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
}
.recipe-grid ul li a{
    text-decoration: underline;
    color: #000;
}
.recipe-grid h6{
    text-align: center;
}
.recipe-grid p{
    grid-column: 2/4;
    font-size: .7em;
    align-self: center;
    margin: 1em 0 1em 0;
}
.recipe-grid img{
    grid-column: 1/5;
    justify-self: center;
    /* grid-row: 1/2; */
    max-width: 800px;
    width: 100%;
    
    
}
.method{
    grid-column: 2/4;
    padding: 1.3em;
}
.method li{
    line-height: 2em;
}
email{
    display: flex;
    font-size: 1em;
    justify-content: center;
    margin: 1em 0 1em 0;
    /* text-align: center; */
    
}
.tags{
    
    font-size: .4em;
}
.tags ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    

}
.tags ul li{
    list-style: none;
    margin: 0 0 1.5em 1em;

}
.tags ul li a{
    color: #111;
}
#cocktail-display{
    box-shadow: none;
    width: 100%;
    margin: 0;
}
.medium{
    font-size: .6em;
}
.share-wrap{
    grid-column: 2/3;
    /* display: flex; */
    /* justify-content: right; */
    position: relative;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    bottom: 0; 
    z-index: 98;
    /* width: 100vw; */
    /* height: 100vh; */
}
.share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
     
}
.share::before{
    content: "Like this? Tell your friends!";
    font-size: .7em;
    color: #000;

}
.share a img{
    width: 1.5em;
    margin-left: 1em;
}
.bar-menu:hover .bar-sub-menu{
    display: flex;
    flex-direction: column;
}
.bar-sub-menu{
    position: absolute;
    Background: rgba(49, 48, 48, 0.836);
    display: none;
    
}
.bar-sub-menu li{
    list-style: none;
    padding: 0 .5em 0 .5em;
}
.bar-sub-menu li:focus,
.bar-sub-menu li:hover{
    background: #aaa;
}
.bar-sub-menu li a{
    font-size: .8em;
    color: #fff;
    text-decoration: none;

}
.mini-menu{
    display: none;
}
.privacy{
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 30px;

}
.privacy p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: .8em;

    
}
#disqus-thread{
    padding: 0 1em 1em 1em;
}
.subscribe::after{
    content: "wallofwhiskey.com";
    position: absolute;
    top: 0;
    height: 400px;
    margin-left: 70vw;
}
.blog-post{
    padding: 1.1em 2em 1.1em 2em ;
    display: flex;
    flex-direction: column;
}
.blog-post h1{
    text-align: center;
    margin-bottom: 1em;
}
.blog-post h2{
    margin: 1em 0;
    font-size: .9em;
}
.blog-post h3{
    margin-bottom: .2em;
    font-size: .8em;
}
.blog-post p{
    margin-bottom: 2em;
    line-height: 1.5em;
    font-size: .7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.blog-post h6{
    font-size: .6em;
    margin-bottom: 1.5em;
    padding-left: 1em;

}
.blog-post img{
    max-width: 100%;
    /* transform: translateX(8%); */
}
.quote{
    padding: 1em;
}
#blog-desc{
    grid-column: 1/4;
    text-align: center;
}


.main-area article{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    /* gap: ; */
}
.main-area article > img{
    max-width: 100%;
    width: 45%;
    justify-self: flex-start;
}
article > p{
    color: darkgray;
    font-size: .6em;
    align-self: flex-start;
    font-family: PT Serif, serif;

}
.main-area article time{
    font-size: .6em;
    color: gray;
}



#old-f-temp-pic,
#daq-temp-pic{
    width: 30%;
}
@media screen and (max-width: 1024px){
    .wall-leftA,
    .wall-rightA,
    .hero-bg{

        display: none;
        
        
    }
    .wall-left{
        grid-column: 1/7;
    }
    .wall-right{
        grid-column: 7/13;
    }
    /* .subscribe::after{
        content: "";
        display: none;
    } */
}
/* @media screen and (max-width: 515px){
    .hero-bg{
        background: url('../img/mobile-banner.jpg') no-repeat;
        background-size: cover;
        background-position: top;
        padding:0;
        
    }
    .wall-left{
        width: 75%;
    }
    .wall-right{
        width: 75%;
    }

} */
@media screen and (max-width: 768px){
    #cocktail-info-1{
        padding: 0 .1em 0 .1em;
    }
    .drop p img{
        max-width: 90%;
    }
    .bar-tools-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bar-tools-card{
        margin: 0 ;
    }
    
    /* #shaker{
        margin-top: 8vh;
    } */
    .info-wrap{
        position: relative;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .modal-Info{
        position: relative;
        visibility: visible;
        background: #fff;
    }
    .modal-Info p{
        margin-bottom: 1em;
    }
    .modal-Info h1{
        margin: 1em 0 1em 0;
    }
    .mobile-hidden{
        display: none;
    }
    #last-tool{
        transform: translateY(0);
    }
    .hero-bg{
        display: none;
        background: url('../img/mobile-banner.jpg') no-repeat;
        background-size: contain;
        background-position: center;
        grid-column: 4/10;
        width: 100%;
        height: 100%;
    }
    .wall-left{
        grid-column: 1/7;
        width: 100%;
    }
    .wall-rightA,
    .wall-leftA{
        display: none;
    }
    .wall-right{
        grid-column: 7/13;
        width: 100%;
    }
    #section-a{
        margin-left: auto;
        margin-right: auto;
        max-width: 38em;
        width: 88%;
    } 
    #section-a p,
    #section-a p >a{
        font-family: PT Serif, serif;
        text-decoration: none;
        
    }
    .try{
        margin-bottom: 1em;

    }
    .try-all{
        font-size: 1em;
    }
    .older-posts p a img,
    .latest-post p a img{
        max-width: 10em;
    }
    #section-a p > a{
        color:  rgb(125, 136, 230);
        font-size: 1em
    }
    #section-a time{
        font-size: .6em;
        color: gray;
        justify-self: center;
    }
    /* #section-a p > a:hover{
        cursor: pointer;
    } */
    .section-grid{
        display: flex;
        flex-direction: column;
    }
    .nav-bar::before{
        content:"WallOfWhiskey.com";
        font-size: .9em;
        position: absolute;
        right: 5px;
    

    }
    .nav-bar{
        
        height: 17vh;
        border-bottom: none;
        background: #fff;
    }
    .nav-bar > .mobile-menu-button > ul{
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        top: 10vh;
        left: 0;
        height: 50vh;
        width: 100vw;
        background: rgba(255, 255, 255, 0.959);
        border: none;
        transform: scale(1);
        clip-path: circle(0px);
        
    }
    .nav-bar > .mobile-menu-button > ul > li > a{
        margin: 0 .3em 0 .3em;
        font-size: 1em;
        color: #000;
        opacity: 0;
        
    }
    
    .mobile-menu-button{
        content: "";
        width: 100px;
        height: 5px;
        position: absolute;
        z-index: 100;
        top: 7vh;
        left: 0;
        
    }
    .mobile-menu-button:before{
        content: "";
        width: 100px;
        height: 19px;
        position: absolute;
        z-index: 100;
        top: -3vh;
        right: 0;
        border-radius: 12px 12px 0 0;
        border-bottom: 14px solid rgba(245, 240, 240, 0.973);
    }
    .mobile-menu-button:after{
        content: "";
        width: 100px;
        height: 19px;
        position: absolute;
        z-index: 100;
        top: 1vh;
        right: 0;
        border-radius: 0 0 12px 12px;
        border-top: 14px solid rgba(245, 240, 240, 0.973);
        box-shadow: 0 13px 15px .5px black;
    }
    .mobile-menu-button:hover::before,
    .mobile-menu-button:focus::before,
    .mobile-menu-button:active::before{
        border: none;
        height: 5px;
        top: 0;
        box-shadow: 0 13px 15px .5px black;
        animation:wobble1 ease-in-out 1s infinite;
        

    }
    .mobile-menu-button:hover::after,
    .mobile-menu-button:focus::after,
    .mobile-menu-button:active::after{
        border: none;
        height: 5px;
        top: 0;
        /* transition: transform 2s; */
        animation: wobble2 ease-in-out 1s infinite;
        
        
    }
    
    .mobile-menu-button,
    .mobile-menu-button:before,
    .mobile-menu-button:after{
        background: #111;
    }
    
    @keyframes wobble1{
        0%{
            transform: rotateZ(45deg);
        }
        50%{
            transform: rotateZ(30deg)
        }
        100%{
            transform: rotateZ(45deg);
        }


    }
    @keyframes wobble2{
        0%{
            transform: rotateZ(-45deg);
        }
        50%{
            transform: rotateZ(-30deg)
        }
        100%{
            transform: rotateZ(-45deg);
        }


    }
    .mobile-menu-button:hover ul,
    .mobile-menu-button:focus ul,
    .mobile-menu-button:active ul{
        transition: transform 2s, clip-path 3s;
        transform: scale(1);
        clip-path: circle(425px);
    }
    .mobile-menu-button:hover ul li a,
    .mobile-menu-button:focus ul li a,
    .mobile-menu-button:active ul li a{
        transition: opacity 2s;
        transition-delay: 1s;
        opacity: 1;
    }
    
    .nav-bar > .mobile-menu-button > ul:after{
        content: "";
        position: absolute;
        height: 35vh;
        background: rgba(0, 0, 0, 0.685);
        width: 100%;
        top: 50vh;
        z-index: 101;
        border:none;
        opacity: 0;
        /* transform: scale(0); */
    }
    .mobile-menu-button:hover ul:after,
    .mobile-menu-button:focus ul:after,
    .mobile-menu-button:active ul:after{
        transition: opacity 1s;
        transition-delay: 1s;
        /* transform: scale(1); */
        opacity: 1;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: auto; */
        /* display: flex;
        flex-direction: column; */
    }
    .main-area{
        grid-row: 1/2;
        /* padding: 1em; */
    }

    .left-side{
        grid-row: 2/3;
        border: none;
    }
    .right-side{
        grid-row: 3/4;
        border: none;
    }
    .share-wrap{
        grid-column: 1/2;
        grid-row: 4/5;
    }
        
    
    .main-area > p{
        padding: .5em;
    }
    .latest-post h3,
    .bar-choice h3,
    .older-posts h3,
    .welcome h3{
        padding: 30px 5px 30px 5px;
        text-align: center;
        font-size: .9em;
    }
    
    .welcome > author,
    .latest-post > author,
    .older-posts > author,
    .main-area > author{
        margin-bottom: 1em;
    }
    .bar-choice,
    .latest-post,
    .welcome,
    .older-posts{
        padding: 0;
    }
    .welcome,
    .older-posts,
    .latest-post{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .bottle-desc{
        display: flex;
        flex-direction: column;
        padding: 0 .5em .5em .5em;
        font-size: .9em;
        color: rgb(104, 103, 103);
       
    }
    .card-content author{
        font-size: 1em;
    }
    .card-content p{
        font-size: 1.4em;
        line-height: 1.3;
    }
    .welcome img{
        box-shadow: none;
        width: 100%;
    }
    .welcome p{
        padding: 0;
    }
    .main-title > h1{
        text-align: center;
    }
    .card-content > p{
        padding: 1em .5em;
    }
    .card-content > p > img{
        width: 10vw;
        
    }
    
    .try{
        /* background: rgba(37, 34, 34, 0.438); */
        flex-direction: column;
        color:rgb(10, 9, 9);
        text-decoration: underline;
    }
    .try-all{
        
        word-spacing: 5px;
    }
    .card{
        margin-bottom: 1em;
    }
    .card img{
        width: 100vw;
    }
    .subscribe{
        position: sticky;
        top: 0;
        right: 0;
        width: 5.7em;
        border: none;
        margin: 0 0 -3vh 69vw;
        padding: .3em 0 .3em 0;
        visibility: visible;
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        background: #222;
        font-size: .9em;
        box-shadow:  0 3px 2px #000;
        z-index: 100;
        border-radius: 5px;
        display: none;
    }
    .subscribe > a{
        color: #fff;
        text-decoration: none;

    }
    .recipe-grid{
        display: flex;
        flex-direction: column;
        padding: .1em;
    }

    .recipe-grid img{
        width: 100%;
        border-top: 1px dashed lightgray;
    }
    #daq-temp-pic,
    #old-f-temp-pic{
        align-self: center;
    }
    .recipe-grid p{
        border-top: 1px dashed lightgray;
        text-align: center;
        font-size: .8em;
    }
    .recipe-grid ul{
        border-top: 1px dashed lightgray;
        margin-top: 1em;
    }
    .recipe-grid ol{
        border-top: 1px dashed lightgray;
        border-bottom: 1px dashed lightgray;
        margin-top: 1em;
    }
    .method{
        font-size: 1em;
        padding: 0 30px 0 30px;
    }
    .method li{
        line-height: 1.2em;
        margin-bottom: 10px;
    }
    .cocktail-card{
        width: 100%;
        flex-direction: column;
    }
    .cocktail-card p{
        font-size: 1em;
        text-align: center;
        padding: 0;
        margin-top: 1em;
    }
    .cocktail-card a img{
        width: 80%;
    }
    .left-side > img{
        width: 30%;
    }
    .right-side > img{
        width: 30%;
    }
    .grid-item-left,
    .grid-item-right{
        border: 1px solid rgb(54, 46, 46);

    }
    .bar-choice h6{
        text-align: left;
    }
    .welcome h2{
        padding: 0;
    }
    email{
        font-size: .6em;
    }
    #cocktail-display{
        width: 100%;
        box-shadow: none;
    }
    
    
    .bar-sub-menu{
        top: -30vh;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 25vh;
        opacity: 0;
    }
    .bar-sub-menu > li{
        transform: scale(0);
    }
    .bar-menu:hover .bar-sub-menu,
    .bar-menu:focus .bar-sub-menu,
    .bar-menu:active .bar-sub-menu{
        transition: transform 2s;
        transform: translateY(55vh);
        opacity: 1;
        width: 100%;
    }
    .bar-menu:hover .bar-sub-menu > li,
    .bar-menu:focus .bar-sub-menu > li,
    .bar-menu:active .bar-sub-menu > li{
        transition: transform 2s;
        transform: scale(1);
        transition-delay: 2s;
        padding: 0;
    }
    .buy-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buy-mobile p,
    .buy-mobile a{
        font-size: .9em;
        text-align: center;
    }
    .buy-desktop{
        display: none;
        
    }
    footer{
        flex-direction: column;
        justify-content: space-around;
    }
    footer h6{
        font-size: .7em;
    }
    .privacy{
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-size: .6em;
        padding: 0 15px 0 15px;
        
    }
    .privacy p{
        font-family: 'Times New Roman', Times, serif;

    }
    .blog-post img{
        transform: translateX(0%);
    }
    .blog-post{
        padding: 1em; 
    }
    .quote{
        font-size: .6em;
        margin-bottom: 1em;
    }
    
    
}
@media screen and (max-width: 425px){
    .main-title h1{
        font-size: 1em;
    }
    .main-area article{
        display: flex;
        flex-direction: column;
    }
    article > p{
        align-self: flex-start;
    }
    .main-area article > img{
        padding: .5em 0 .5em 0;
        align-self: center;
        width: 100%;
    }
    .section-grid > p{
        font-size: .7em;
    }
    article{
        /* border-top: 5px solid gray; */
        border-bottom: 5px solid rgb(48, 41, 41);
        margin-bottom: 1em; 
        /* box-shadow: 0 .5px 5px 0px #000; */
    }

    
}
@media screen and (max-width: 321px){
    .nav-bar::before{
        left: 20vw;
    }
    .mobile-menu-button{
        display: none;
    }
    .hero-bg{
        display: none;
    }
    .wall-left{
        grid-column: 1/7;
        width: 100%;
    }
    .wall-right{
        grid-column: 7/13;
        width: 100%;
    }
    .mini-menu{
        display: inherit;
        /* background: green; */
        /* height: 50vh; */
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 101;
    }
    
    .mini-menu ul li{
        /* background: blue; */
        width: 100%;
        text-align: center;
        
    }
    
    .mini-menu > ul > li > a{
        color: #000;
        text-decoration: none;
        list-style: none;
    }
    .mini-menu-sub{
        flex-direction: column;
        display: none;
        background: #fff;
        opacity: .2;
    }
    .mini-menu-sub > li{
        list-style: none;;

    }
    .mini-menu-sub > li  a{
        color: #000;
        text-decoration: none;

    }
    
    .iphone-sub-menu{
        display: none;
        flex-direction: column;
    }
    .iphone-sub-menu > li{
        background: #000;
    }
    .iphone-sub-menu > li > a{
        color: #fff;
    }
    /* .mini-menu > li:hover .mini-menu-sub{
        display: flex;
        

    } */
    .mini-menu ul li:hover .mini-menu-sub,
    .mini-menu ul li:focus .mini-menu-sub,
    .mini-menu ul li:active .mini-menu-sub{
        display: flex;
        opacity: .7;
        transition-delay: 2s;
        transition: opacity 2s;
    }
    .iphone-bar-menu:hover .iphone-sub-menu,
    .iphone-bar-menu:focus .iphone-sub-menu,
    .iphone-bar-menu:active .iphone-sub-menu{
        display: flex;
    }
}